/* Start:: Vertical-menu styles */
@use '../variables';
.main-sidebar {
  margin-block-start: 3.625rem; //3.72rem
  padding-block-start: 0.5rem;
  padding-block-end: 5rem;
  height: 100vh;
  position: relative;
  overflow: auto;
}
.app-sidebar {
  width: 15rem;
  height: 100%;
  background: variables.$menu-bg;
  border-inline-end: 1px solid variables.$menu-border-color;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 100;
  transition: all 0.1s ease-out;
  .main-sidebar {
    box-shadow: 0.125rem 0 0 rgba(10, 10, 10, 0.04);
  }
  .main-sidebar-header {
    height: 4rem;
    width: 14.95rem;
    position: fixed;
    display: flex;
    background: variables.$menu-bg;
    z-index: 9;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.25rem;
    border-inline-end: 1px solid variables.$menu-border-color;
    border-block-end: 1px solid variables.$menu-border-color;
    transition: all 0.1s ease-out;
    backdrop-filter: blur(30px);
    .header-logo {
      img {
        margin: 0 auto;
      }
      .desktop-logo {
        display: flex;
      }
      .desktop-dark,
      .toggle-logo,
      .toggle-dark {
        display: none;
      }
    }
  }
  .slide__category {
    color: variables.$menu-prime-color;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 0.065rem;
    text-transform: uppercase;
    padding: 0.75rem 1.65rem;
    white-space: nowrap;
    opacity: 0.5;
    position: relative;
  }
  .slide {
    // margin: 3px 10px 3px 0;
    margin-block-start: 3px;
    margin-block-end: 3px;
    margin-inline-start: 0px;
  }
  .side-menu__item {
    // padding: 0.75rem;
    padding: 12px 22px 12px 18px;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    // font-size: 0.78rem;
    color: variables.$menu-prime-color;
    font-weight: 400;
    border-radius: variables.$default-radius;
    &.active,
    &:hover {
      border-top: 0;
      background: linear-gradient(45deg, #f54266, variables.$primary);
      box-shadow: 0 6px 14px 2px rgba(0, 0, 0, 0.1);
      // border-radius: 0 100px 100px 0;
      border-start-start-radius: 0px;
      border-start-end-radius: 100px;
      border-end-end-radius: 100px;
      border-end-start-radius: 0px;

      .side-menu__label
       {
        color: variables.$white;
      }
      .side-menu__icon {
        fill: variables.$white;
        color: variables.$white;
      }
    }
    &.active {
      font-weight: normal;
    }
  }
  .slide-menu {
    &.child1,
    &.child2,
    &.child3 {
      .side-menu__item {
        font-size: 0.845rem;
        font-weight: 400;
      }
      .side-menu__item.active {
        background: transparent;
        box-shadow: none;
      }
      .side-menu__item:hover {
        background: transparent;
        box-shadow: none;
        color: variables.$primary !important;
        .side-menu__angle {
          color: variables.$primary;
        }
      }
    }
  }
  .slide-menu {
    padding: 0rem;
  }
  .slide-menu {
    &.child1,
    &.child2 {
      .side-menu__item {
        padding: 0.45rem 2rem;
      }
    }
  }
  .slide-menu {
    &.child1,
    &.child2,
    &.child3 {
      .side-menu__item {
        &:before {
          position: absolute;
          content: "\e933";
          font-family: "feather" !important;
          width: 0.4rem;
          border-radius: 50%;
          background-color: transparent;
          inset-inline-start: 0.5rem;
          opacity: 0.5;  
        }
        &:hover {
          color: variables.$menu-prime-color;
          &:before {
            content: "\e933";
            font-family: "feather" !important;
          }
        }
        &.active {
          &:before {
            position: absolute;
            content: "\e933";
            font-family: "feather" !important;
            width: 0.4rem;
            border-radius: 50%;
            background-color: transparent;
            opacity: 1;
          }
        }
      }
      li {
        padding: 0;
        padding-inline-start: 1rem;
        position: relative;
      }
    }
  }
  .side-menu__label {
    white-space: nowrap;
    align-items: center;
    color: variables.$menu-prime-color;
    position: relative;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
    vertical-align: middle;
  }
  .side-menu__icon {
    margin-inline-end: 0.625rem;
    font-size: 1.125rem;
    text-align: center;
    color: variables.$menu-prime-color;
    fill: variables.$menu-prime-color;
    border-radius: variables.$default-radius;
    line-height: 0;
  }
  .side-menu__angle {
    transform-origin: center;
    position: absolute;
    inset-inline-end: 0.75rem;
    font-size: 0.85rem !important;
    color: variables.$menu-prime-color;
    transition: all 0.05s ease;
  }
  .slide.side-menu__label1 {
    display: none;
  }
}
.horizontal-logo {
  padding: 0.85rem 0rem;
}
.slide.has-sub .slide-menu {
  transform: translate(0, 0) !important;
  visibility: visible !important;
}
.nav ul li {
  list-style-type: none;
}
.nav > ul {
  padding-inline-start: 0px;
}
.slide-menu {
  display: none;
}
.slide.has-sub {
  display: grid;
  &.open {
    > .side-menu__item .side-menu__angle {
      transform: rotate(90deg);
    }
  }
}
@media (min-width: 992px) {
  [data-toggled="open"] {
    .page {
      position: absolute;
    }
  }
  [data-nav-layout="vertical"] {
    &[data-toggled="menu-click-closed"],
    &[data-toggled="menu-hover-closed"],
    &[data-toggled="icon-click-closed"],
    &[data-toggled="icon-hover-closed"],
    &[data-toggled="icon-text-close"] {
      .app-content {
        min-height: calc(100vh - -23rem);
      }
    }
  }
}

/* Responsive Styles Start */

@media (max-width: 991.98px) {
  .horizontal-logo {
    .header-logo {
      .desktop-logo,
      .desktop-dark,
      .toggle-dark {
        display: none;
      }
      .toggle-logo {
        display: block;
      }
    }
  }
  .main-sidebar-header {
    display: none !important;
  }
  .main-sidebar {
    margin-block-start: 0;
  }
  .app-sidebar {
    inset-block-start: 0;
  }
  .main-menu {
    margin: 0 !important;
  }
  .rounded-header{
    display: none;
  }
}
.slide-left,
.slide-right {
  display: none;
}
[data-nav-layout="vertical"] {
  .slide.has-sub {
    &.active {
      > .side-menu__item {
        margin-block: 0.25rem;
      }
    }
  }
}
@media (min-width: 992px) {
  .horizontal-logo {
    display: none;
  }
}
/* Responsive Styles End */

/* Responsive Overlay Start */
#responsive-overlay {
  visibility: hidden;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 101;
  background-color: rgba(15, 23, 42, 0.5);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  &.active {
    visibility: visible;
  }
}
/* Responsive Overlay End */
 
@media (min-width: 992px) {
  .main-sidebar-loggedin {
      padding: 20px 20px 0 20px;
      flex-shrink: 0;
      border-bottom: 0;
  }
  .btn-icon {
    height: 40px;
    width: 40px;
    font-size: 16px;
  }
  [data-toggled="icon-overlay-close"] {
    .user-pic img {
      width: 40px;
      height: 40px;
      margin: 0 auto;
    }
  }
}
.user-pic img {
  width: 60px;
  height: 60px;
  font-size: 36px;
}
.app-sidebar{
  .sidebar-navs {
    padding: 0 10px 10px 10px;
  }
}
.main-sidebar-header .header-logo img {
  height: 2rem;
}
.slide.has-sub.active.open {
  .side-menu__item.active {
    color: variables.$primary;
  }
}
@media (max-width: 576px) {
  .page-header-breadcrumb {
    padding-block-start: 3.5rem !important;
    padding-block-end: 5rem !important;
  }
  .page-header-breadcrumb .right-page {
    margin-top: 1.5rem;
  }
}
.user-info {
  h6 {
    color: variables.$menu-prime-color;
  }
  span {
    color: variables.$menu-prime-color;
  }
}
.sidebar-navs {
  .btn-outline-light {
    color: variables.$menu-prime-color !important;
    border-color: variables.$menu-border-color;
    background-color: rgba(234, 235, 240, 0.2);
  }
}
[data-theme-mode="light"][data-menu-styles="dark"] {
  .sidebar-navs {
    .btn-outline-light {
      background: none;
    }
  }
}
[data-theme-mode="dark"] {
  .sidebar-navs {
    .btn-outline-light {
      background: none;
    }
  }
  &[data-menu-styles="light"] {
    .sidebar-navs {
      .btn-outline-light {
        background-color: rgba(234, 235, 240, 0.2);;
      }
    }
  }
}
.main-menu > .slide > .side-menu__item {
  margin-inline-end: 10px;
}
[data-nav-layout="vertical"] {
  .app-sidebar .slide {
    border-block-end: 1px solid variables.$menu-border-color;
  }
  &[data-toggled="menu-click-closed"],
  &[data-toggled="menu-hover-closed"],
  &[data-toggled="icon-click-closed"],
  &[data-toggled="icon-hover-closed"],
  &[data-toggled="icon-text-close"],
  &[data-toggled="icon-overlay-close"],
  &[data-toggled="detached-close"],
  &[data-toggled="double-menu-close"], 
  &[data-toggled="double-menu-open"] {
    .app-sidebar .slide:not(.side-menu__label1) {
      border-block-end: 0px;
    }
  }
}

/* End:: Vertical-menu styles */