
/* Start:: Contacts */
@use '../variables';
@media (min-width: 768px) and (max-width: 991.98px) {
	.main-content-body-show {
	  .main-header-contacts .main-header-menu-icon {
		display: flex;
	  }
  
	  .main-content-left-contacts {
		display: block;
	  }
	}
  }
  
  .main-content-left-contacts {
	width: 100%;
	display: block;
	padding: 0;
  
	.main-content-breadcrumb, .main-content-title {
	  padding-inline-start: 20px;
	}
  }
  
  @media (min-width: 768px) {
	.main-content-left-contacts {
	  border-inline-end: 0px solid variables.$default-border;
	}
  }
  
  @media (min-width: 992px) {
	.main-content-left-contacts {
	  .main-content-breadcrumb, .main-content-title {
		padding-inline-start: 0;
	  }
	}
  }
  
  @media (min-width: 768px) {
	.main-contacts-list {
	  height: 730px;
	  position: relative;
	}
  }
  
  .main-contact-label {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-inline-start: 20px;
	font-weight: 500;
	font-size: 12px;
	color: variables.$gray-5;
	position: relative;
  
	&::after {
	  content: '';
	  position: absolute;
	  bottom: -1px;
	  inset-inline-start: 0;
	  inset-inline-end: 0;
	  border-bottom: 1px solid variables.$default-border;
	  z-index: 5;
	}
  }
  
  @media (min-width: 992px) {
	.main-contact-label {
	  padding-inline-start: 30px;
	}
  }
  
  .main-contact-item {
	padding: 10px 20px;
	border: 1px solid transparent;
	border-right-width: 0;
	display: flex;
	position: relative;
	cursor: pointer;
  
	+ .main-contact-item {
	  margin-top: -1px;
	  border-top-color: variables.$default-border;
  
	  &::before {
		content: '';
		position: absolute;
		top: -1px;
		inset-inline-start: 65px;
		inset-inline-end: 0;
		border-top: 1px solid variables.$default-border;
	  }
	}
  
	&:hover, &:focus {
	  background-color:variables.$gray-1;
	  border-top-color: variables.$default-border;
	  border-bottom-color: variables.$default-border;
	}
  
	&.selected {
	  z-index: 1;
	  border-left-color: variables.$primary;
	  border-top-color: variables.$default-border;
	  border-bottom-color: variables.$default-border;
	  background-color:variables.$gray-1;
	}
  }
  
  @media (min-width: 992px) {
	.main-contact-item {
	  padding: 15px;
	}
  }
  
  .main-contact-body {
	flex: 1;
	margin-inline-start: 15px;
  
	h6 {
	  color: variables.$gray-9;
	  font-weight: 500;
	  margin-bottom: 2px;
	}
  
	span {
	  font-size: 13px;
	  color: variables.$secondary;
	}
  }
  
  .main-contact-star {
	font-size: 16px;
        line-height: 2.5;
        a{
	  		color: variables.$default-text-color;
        }
  
	&:hover, &:focus {
	  color: variables.$secondary;
	}
  
	&.active {
	  color: #ffc107;
	}
  }
  
  .main-content-body-contacts {
	display: none;
  }
  
  @media (min-width: 768px) {
	.main-content-body-contacts {
	  display: block;
	  overflow-y: auto;
	}
  }
  
  @media (min-width: 992px) {
	.main-content-body-contacts {
	  overflow: visible;
	}
  }
  
  .main-contact-info-header {
	padding-top: 40px;
	padding-inline-start: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid variables.$default-border;
	position: relative;
  
	.media {
	  display: block;
	}
  
	.media-body {
	  margin-top: 30px;
  
	  h4 {
		color: variables.$gray-9;
		font-size: 26px;
		font-weight: 500;
		margin-bottom: 8px;
		line-height: 1;
	  }
  
	  p {
		color: variables.$default-text-color;
		margin-bottom: 15px;
	  }
  
	  .nav-link {
		padding: 0;
		display: flex;
		align-items: center;
		color: variables.$secondary;
		font-size: 13px;
  
		i {
		  font-size: 0.875rem;
		  line-height: 0;
		  margin-inline-end: 5px;
  
		  &.typcn {
			line-height: .9;
  
			&::before {
			  width: auto;
			}
		  }
		}
  
		&:hover, &:focus {
		  color: variables.$primary;
		}
  
		+ .nav-link {
		  margin-inline-start: 10px;
		}
	  }
	}
  }
  
  @media (min-width: 576px) {
	.main-contact-info-header {
	  padding-top: 20px;
	}
  }
  
  @media (min-width: 992px) {
	.main-contact-info-header {
	  padding-inline-start: 30px;
	  padding-bottom: 25px;
	}
  }
  
  @media (min-width: 992px) {
	.main-contact-info-header .media {
	  display: flex;
	  align-items: center;
	}
  }
  
  @media (min-width: 992px) {
	.main-contact-info-header .media-body {
	  margin-top: 0;
	  margin-inline-start: 30px;
	}
  }
  
  @media (min-width: 576px) {
	.main-contact-info-header .media-body .nav-link {
	  font-size: 0.875rem;
	}
  }
  
  @media (min-width: 576px) {
	.main-contact-info-header .media-body .nav-link i {
	  margin-inline-end: 7px;
	}
  }
  
  @media (min-width: 576px) {
	.main-contact-info-header .media-body .nav-link + .nav-link {
	  margin-inline-start: 25px;
	}
  }
  
  .main-contact-action {
	position: absolute;
	top: 24px;
	inset-inline-end: 20px;
	display: flex;
  
	a {
	  &:hover, &:focus {
		color: variables.$primary;
	  }
  
	  + a {
		margin-inline-start: 15px;
	  }
	}
  }
  
  @media (min-width: 992px) {
	.main-contact-action {
	  inset-inline-end: 20px;
	}
  }
  
  .main-contact-info-body {
	padding-inline-start: 20px;
  
	.media-list {
	  padding: 20px 0;
	}
  
	.media {
	  align-items: center;
	  position: relative;
  
	  + .media {
		margin-top: 30px;
  
		&::before {
		  content: '';
		  position: absolute;
		  top: -15px;
		  inset-inline-start: -19px;
		  inset-inline-end: 0;
		  border-top: 1px dotted variables.$default-border;
		}
	  }
  
	  &:last-child {
		margin-bottom: 15px;
	  }
	}
  
	.media-icon {
	  font-size: 32px;
	  color: variables.$gray-5;
	  line-height: 1;
	  width: 40px;
	  text-align: center;
	}
  
	.media-body {
	  margin-inline-start: 0;
  
	  > div + div {
		margin-top: 15px;
	  }
  
	  label {
		color: variables.$secondary;
		margin-bottom: 0;
		display: block;
		font-size: 13px;
	  }
  
	  span {
		display: block;
		color: variables.$gray-9;
		font-weight: 500;
	  }
	}
  }
  
  @media (min-width: 992px) {
  
	.main-contact-info-body {
	  height: calc(100% - 126px);
	  position: relative;
	}
  }
  
  @media (min-width: 992px) {
	.main-contact-info-body .media-list {
	  padding: 25px 0;
	}
  }
  
  @media (min-width: 992px) {
	.main-contact-info-body .media-icon {
	  width: 100px;
	}
  }
  
  @media (min-width: 992px) {
	.main-contact-info-body .media-body {
	  display: flex;
	}
  }
  
  @media (min-width: 992px) {
	.main-contact-info-body .media-body > div {
	  flex: 1;
	}
  }
  
  @media (min-width: 992px) {
	.main-contact-info-body .media-body > div + div {
	  margin-top: 0;
	}
  }
  .main-contact-item{
      border-bottom-color: variables.$default-border;
}
@media (min-width: 992px) {
    .main-nav-line-chat {
        padding-left: 0;
        flex-shrink: 0;
        // height: 55px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        border-bottom: 1px solid variables.$default-border;
    }
}

.main-nav-line-chat {
    border-bottom: 1px solid variables.$default-border;
    padding-bottom: 5px;
    flex-shrink: 0;
    flex-direction: row;
    padding-inline-start: 20px;
}
.main-nav-line {
    position: relative;
}
.main-nav-line-chat .nav-link.active {
    color: variables.$primary;
    background: none;
	border-block-end: 2px solid variables.$primary;
	border-radius: 0;
}
.main-nav-line-chat .nav-link+.nav-link {
    margin-top: 0;
    margin-inline-start: 30px;
}
.main-nav-line-chat .nav-link {
    font-size: 13px;
    font-weight: 500;
    color: variables.$text-muted;
    text-transform: uppercase;
}
.main-contacts-list {
    height: 730px;
    overflow-y: scroll;
}
.camera-icon {
	position: absolute;
	background-color: #7987a1;
	color: #fff;
	height: 32px;
	width: 32px;
	border-radius: 100%;
	font-size: 18px;
	line-height: 1.9;
    text-align: center;
    bottom:0;
    inset-inline-start: 5.5rem;
}
.contact-icon {
    display: inline-flex;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* End:: Contacts */

