/* Start:: Invoice */
@use '../variables';

.main-content-left-invoice {
	display: block;
	padding: 0;

	.main-content-breadcrumb,
	.main-content-title {
		padding-inline-start: 20px;
	}
}

@media (max-width: 991.98px) {
	.main-content-left-invoice {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.main-content-left-invoice {
		border-right: 1px solid variables.$gray-2;
	}
}

@media (min-width: 992px) {
	.main-content-left-invoice {

		.main-content-breadcrumb,
		.main-content-title {
			padding-inline-start: 0;
		}
	}
}

.main-invoice-list {
	position: relative;
	border-top: 0;

	.media {
		align-items: center;
		border: 1px solid variables.$default-border;
		border-right-width: 0;
		border-left-width: 0;
		padding: 10px 20px;
		position: relative;

		&:hover,
		&:focus {
			cursor: pointer;
			background-color: variables.$gray-1;
		}

		+.media {
			margin-top: -1px;

			&::before {
				content: '';
				position: absolute;
				top: -1px;
				inset-inline-start: 55px;
				inset-inline-end: 0;
				border-top: 1px dotted variables.$gray-3;
			}
		}
	}

	.media-icon {
		width: 24px;
		text-align: center;
		font-size: 32px;
		color: variables.$gray-5;
	}

	.media-body {
		margin-inline-start: 15px;

		h6 {
			font-weight: 500;
			color: variables.$gray-9;
			margin-bottom: 3px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			span:last-child {
				color: variables.$primary;
			}
		}

		div {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		p {
			margin-bottom: 0;
			font-size: 11px;
			font-family: Arial, sans-serif;
			color: variables.$gray-8;

			span {
				color: variables.$secondary;
			}
		}
	}

	.selected {
		background-color: variables.$light;
		border-top-color: variables.$default-border;
		border-bottom-color: variables.$default-border;
		border-inline-start: 1px solid variables.$primary;

		&:first-child {
			border-top-color: transparent;
		}
	}
}

@media (min-width: 992px) {
	.main-invoice-list {
		height: calc(100% - 65px);
	}
}

@media (min-width: 992px) {
	.main-invoice-list .media {
		padding: 10px 15px;
	}
}

.main-content-body-invoice {
	position: relative;
}

@media (min-width: 992px) {
	.main-content-body-invoice {
		display: block;
	}
}

.card-invoice {
	// background-color: transparent;
	border-width: 0;

	.card-body {
		padding: 20px;
	}
}

@media (min-width: 768px) {
	.invoice-header {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
	}
}

.invoice-title {
	margin-bottom: 0;
	text-transform: uppercase;
	color: variables.$gray-5;
	font-weight: 700;
}

.billed-from {
	margin-top: 25px;
	margin-bottom: 25px;

	h6 {
		color: variables.$gray-9;
		font-size: 14px;
		font-weight: 700;
	}

	p {
		font-size: 13px;
		margin-bottom: 0;
	}
}

@media (min-width: 768px) {
	.billed-from {
		margin-top: 0;
	}
}

.billed-to {
	h6 {
		color: variables.$gray-9;
		font-size: 14px;
		font-weight: 700;
	}

	p {
		font-size: 13px;
		margin-bottom: 0;
	}
}

.invoice-info-row {
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
	margin-bottom: 0;
	font-size: 13px;

	+.invoice-info-row {
		border-top: 1px dotted variables.$gray-3;
	}

	span:first-child {
		color: variables.$gray-7;
	}
}

.table-invoice {
	thead>tr> {

		th,
		td {
			font-size: 11px;
			font-weight: 700;
			color: variables.$secondary;
		}
	}

	tbody>tr> {

		th:first-child,
		td:first-child {
			color: variables.$gray-9;
			font-weight: 500;
		}

		th:first-child .invoice-notes,
		td:first-child .invoice-notes {
			margin-inline-end: 20px;
		}

		th:first-child .invoice-notes .section-label-sm,
		td:first-child .invoice-notes .section-label-sm {
			font-weight: 600;
		}

		th:first-child .invoice-notes p,
		td:first-child .invoice-notes p {
			font-size: 13px;
			font-weight: 400;
			color: variables.$default-text-color;
		}
	}
}

.card-invoice hr {
	border-top: 0 !important;
}

@media (min-width: 992px) {
	.table-invoice {
		text-wrap: wrap;
	}
}

@media (max-width: 991.98px) {
	.table-invoice {
		text-wrap: nowrap;
	}
}

/* End:: Invoice */