/* Start:: Pricing */
@use '../variables';
.panel.price {

	h3 {
		margin-bottom: 0;
		padding: 20px 0;
	}
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid variables.$default-border;
	background: variables.$custom-white;
}

.panel.price {
	>.panel-heading {
		color: variables.$white;
	}

	.list-group-item {
		margin-bottom: 1.5rem;

		&:last-child {
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
		}

		&:first-child {
			border-top-right-radius: 0px;
			border-top-left-radius: 0px;
		}
	}


}

.price {
	.panel-footer {
		border-bottom: 0px;
		background-color: variables.$custom-white;
		border-left: 0;
		border-right: 0;
	}

	&.panel-color>.panel-body {
		background-color: variables.$custom-white;
	}
}

.panel-body {
	padding: 15px;

	.lead {
		font-size: 20px;
		margin-bottom: 0;
		padding: 10px 0;

		strong {
			font-size: 40px;
			margin-bottom: 0;
		}


	}
}

.panel-footer {
	padding: 10px 15px;
	background-color: variables.$custom-white;
	border-top: 1px solid variables.$default-border;
	border-left: 1px solid variables.$default-border;
	border-right: 1px solid variables.$default-border;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.panel.price .btn {
	border: 0px;
}

.pricing .list-unstyled li {
	border-bottom: 1px solid variables.$default-border;
	display: flow-root;
	margin-bottom: 0;
	padding: 9px 0;
}

.pricing-card {
	.list-unstyled {
		padding-left: 0;
		list-style: none;
	}

	.display-5 {
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 1.1;
	}

	.list-unstyled li {
		border-bottom: 1px solid variables.$default-border;
		display: flow-root;
		margin-bottom: 0;
		padding: 9px 0;
	}
}

.card-category {
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	letter-spacing: 0.05em;
	margin: 0 0 0.5rem;
	background: variables.$light;
}

/* End:: Pricing */