/* Start:: Dashboard-styles */
@use '../variables';
.project-card {
    .primary {
        fill: #fff;
        background: linear-gradient(45deg, var(--primary-color), #8e79fd);
        padding: 11px;
        border-radius: 5px;
        box-shadow: 0 7px 30px rgba(128, 116, 252, 0.2);
    }
    .danger {
        fill: #fff;
        background: linear-gradient(45deg, #f53c5b, #fb768c);
        padding: 11px;
        border-radius: 5px;
        box-shadow: 0 7px 30px rgba(250, 106, 130, 0.5);
    }
    .success {
        fill: #fff;
        background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
        padding: 11px;
        border-radius: 5px;
        box-shadow: 0 7px 30px rgba(11, 163, 96, 0.2);
    }
    .warning {
        fill: #fff;
        background-image: linear-gradient(45deg, #ff5858 0%, #f09819 100%);
        padding: 11px;
        border-radius: 5px;
        box-shadow: 0 7px 30px rgba(241, 159, 93, 0.2);
    }
    .project-content {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                line-height: 20px;
            }
        }
    }
    .project-content ul strong {
        color: variables.$default-text-color;
        font-size: 12px;
        font-weight: 400;
    }
    .project-content ul span {
        color: variables.$default-text-color;
        float: variables.$float-end;
        font-weight: 600;
        text-align: end;
        margin-inline-start: auto;
    }
}
.projects-stat .project-names h6 {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    color: variables.$white;
    line-height: 2.5;
    margin-bottom: 0;
    font-weight: 600;
    padding: 3px;
}
.latest-tasks .nav-tabs {
    padding: 0.66rem 0 ;
}
.latest-tasks .nav-tabs .nav-link.active, 
.latest-tasks .nav-tabs .nav-link:hover, 
.latest-tasks .nav-tabs .nav-link:focus {
    color: variables.$primary;
}
.latest-tasks {
    .nav-tabs .nav-link.active {
        background-color: variables.$custom-white;
        color: variables.$primary;
        font-weight: 500;
        letter-spacing: -0.1px;
        border: 0;
    }
    @media (min-width: 768px) {
        .nav-tabs .nav-link {
            padding: 10px 20px;
        }
    }
}

.latest-tasks .task-line:before {
    position: absolute;
    display: block;
    width: 0.2rem;
    top: 0.2rem;
    content: "";
    border-radius: 0.2rem;
    height: 2rem;
}
.latest-tasks .task-line.primary:before {
    background: linear-gradient(45deg, var(--primary-bg-color), #8e79fd);
}
.latest-tasks .task-line.pink:before {
    background: linear-gradient(45deg, #f10075 0%, #fd5d93 74%);
}
.latest-tasks .task-line.success:before {
    background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}
.latest-tasks .task-line.warning:before {
    background: linear-gradient(45deg, #ff5858 0%, #f09819 100%);
}
.latest-tasks .task-line.teal:before {
    background: linear-gradient(45deg, #00cccc 0%, #6aefef 100%);
}
.latest-tasks .task-line.purple:before {
    background: linear-gradient(45deg, #7f53ac 0%, #647dee 74%);
}
.latest-tasks .task-line.info:before {
    background: linear-gradient(45deg, #17a2b8 0%, #4dc8dc 74%);
}
.latest-tasks .add-delete-task {
    float: variables.$float-end;
    inset-inline-end: 40px;
    position: absolute;
    z-index: 3;
    color: variables.$primary;
    display: none;
}
.tasks:hover .add-delete-task {
    display: block;
}
.tasks .task-line.active .label {
    text-decoration: line-through;
}

.latest-tasks .label {
    color: variables.$default-text-color;
    margin-inline-start: 1.3rem;
    font-weight: 500;
}
.latest-tasks .time {
    margin-inline-start: 1.3rem;
    font-size: 13px;
    color: variables.$text-muted;
}
.card-dashboard-events {
    .list-group-item {
        padding-block-start: 15px;
        padding-inline-end: 20px;
        padding-block-end: 15px;
        padding-inline-start: 40px;
        border-left-width: 0;
        border-right-width: 0;
        position: relative;
        label {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 10px;
            color: variables.$text-muted;
            margin-bottom: 5px;
            letter-spacing: 0.5px;
        }
        h6 {
            font-size: 14px;
            font-weight: 700;
            color: variables.$default-text-color;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
        }
        p {
            margin-bottom: 5px;
            strong {
                font-weight: 500;
            }
        }
        small {
            font-size: 11px;
        }
    }
    .event-indicator {
        width: 10px;
        height: 10px;
        position: absolute;
        inset-block-start: 21px;
        inset-inline-start: 20px;
        border-radius: 100%;
    }
}
.image-grouped .profile-img {
    width: 30px;
    height: 30px;
}
.activity-scroll {
    max-height: 354px;
    overflow-y: scroll;
}
.activity-list {
    position: relative;
}
.activity-list:before {
    content: " ";
    border: 1px solid variables.$default-border;
    margin: 20px 20px 0 22px;
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 100%;
    z-index: 0;
}
.activity .img-activity {
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 0 0.5px #f8f9fa;
}
.activity .item-activity {
    margin-inline-start: 60px;
    margin-bottom: 20px;
}
.activity .added-project {
    font-weight: 700;
    font-size: 13px;
    color: variables.$primary;
}
.task-box.primary {
    color: variables.$white !important;
    background: linear-gradient(45deg, var(--primary-color), #8e79fd);
    border-radius: 5px;
    box-shadow: 0 7px 30px rgba(128, 116, 252, 0.2);
}
.task-box.danger {
    background: linear-gradient(45deg, #f53c5b, #fb768c);
    color: variables.$white !important;
    border-radius: 5px;
    box-shadow: 0 7px 30px rgba(250, 106, 130, 0.5);
}
.task-box {
    padding: 10px;
}
.task-box.primary p, 
.task-box.pink p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.5px;
}
.task-stat .tasks {
    color: variables.$default-text-color;
    padding: 0.65rem 1.25rem;
    font-weight: 500;
    border-bottom: 1px solid variables.$default-border;
}
.chart-legend {
    display: flex;
    align-items: center;
    justify-content: center;    
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.project-card .project-content {
    width: 100%;
}
.nav-tabs-line-brand.nav-tabs-bold {
    .nav-link:hover {
        border-color: transparent;
    }
}
@media (max-width: 400px) {
    .latest-tasks .add-delete-task {
      display: none !important;
    }
  }
  
/* End:: Dashboard-styles */