
/* Start:: Rightsidebar */
@use '../variables';
#sidebar-right {
    width: 335px;
  }
  .Date-time {
    padding-left: 0;
    margin-left: 0;
    padding: 20px;
    background-size: cover;
    position: relative;
    margin: 0;
    background: linear-gradient(45deg, var(--primary-color), #8e79fd);
  }
  .Date-time li {
    list-style-type: none;
    position: relative;
  }
  .sidebar-right.show .time h1 {
    animation-name: fadeInLeft;
    line-height: 1;
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  .time h1 {
    font-weight: 400;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60px;
    text-align: start;
    color: variables.$white;
  }
  .sidebar-right.show .time p {
    animation-name: fadeInRight;
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
    
    100% {
      opacity: 1;
      transform: none;
    }
  }
  .time p {
    margin-top: 5px;
    text-align: start;
    font-size: 15px;
    color: variables.$white;
    margin-bottom: 0;
  }

  .events-title {
    color: variables.$default-text-color;
    font-size: 15px;
    font-weight: 600;
    margin: 0 auto;
    text-align: start;
    text-transform: uppercase;
  }
  .sidebar-right .event {
    .Day {
        padding: 7px 10px;
        background: variables.$light;
        color: variables.$default-text-color;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    a {
        padding: 10px;
        font-weight: 400;
        color: variables.$primary;
    }
  } 
  .latest-tasks .tasks {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    margin: 0 0 1rem 0;
}
.sidebar-right .latest-tasks .label {
    color: variables.$default-text-color;
    margin-inline-start: 0.7rem;
    font-weight: 500;
}
.latest-tasks .time {
    margin-inline-start: 1.3rem;
    font-size: 13px;
    color: variables.$text-muted;
}

.latest-tasks .task-line:before {
    position: absolute;
    display: block;
    width: 0.2rem;
    top: 0.2rem;
    content: "";
    border-radius: 0.2rem;
    height: 2rem;
}

.latest-tasks .task-line.primary:before {
    background: linear-gradient(45deg, var(--primary-color), #8e79fd);
}
.latest-tasks .task-line.danger:before {
    background: linear-gradient(45deg, #f53c5b, #fb768c);
}
.latest-tasks .task-line.success:before {
    background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}
.latest-tasks .task-line.warning:before {
    background: linear-gradient(45deg, #ff5858 0%, #f09819 100%);
}
.latest-tasks .task-line.teal:before {
    background: linear-gradient(45deg, #00cccc 0%, #6aefef 100%);
}
.latest-tasks .task-line.purple:before {
    background: linear-gradient(45deg, #7f53ac 0%, #647dee 74%);
}
.sidebar-right .pagination {
    padding: 20px 0 10px 0;
}
.sidebar-right .pagination a {
    color: variables.$primary;
    text-decoration: underline;
}
/* End:: Rightsidebar */